<h1 class='star'>✳</h1>

<p>分享主义是分享的哲学，你可以通过<a href="http://zh.wikipedia.org/wiki/%E5%88%86%E4%BA%AB%E4%B8%BB%E4%B9%89">维基百科</a>或相关<a href="http://freesouls.cc/yeeyan/sharism-a-mind-revolution.html">文章</a>来了解这个概念，同时，我们也组织各类<a href="/presents">活动</a>、<a href="/workshop">工作坊</a>和<a href="/forum">论坛</a>。</p>

<h1 id='agree'>你同意吗？</h1>

<p>当某人为自己的作品标记<span class="star">✳</span>，这说明他乐意与你分享。</p>

<p>此作品可以在全球范围内使用，无论何种目的（无版权），因此你可以按你喜欢的方式随意复制、使用和重新发布。署名与否都行得通。</p>

<p>如果你想了解更多，请阅读「<a href="/agreement">分享许可</a>」，它篇幅不短，但是完全合法。</p>

<h1 id='share'>分享</h1>

<p>要想在「分享许可」下分享你的作品，只要键入「<strong>✳你的名字</strong>」，像这样，用<span class="star">✳</span>链接「分享许可」，并用你的名字链接你要分享的作品。</p>

<p>如果你需要帮助，生成网页格式，只需在下面框中键入你的名字和作品链接，并将HTML代码复制到你的网站。</p>

<form>
  <label for="name">名字</label>
  <input type="text" name="name" placeholder="名字..."/>
  <label for="url">链接</label>
  <input type="text" name="url" placeholder="链接..."/>

  <!--<button type="submit" class="btn">Submit</button>-->
  
  <label for="code">代码</label>
  <textarea id="code" name="code" disabled="disabled"> </textarea>
  
  <label for="result">查看链接</label>
  <span id="result">&nbsp;</span>
</form>

<h3>细节</h3>

<p>分享主义的标志是<span class="star">✳</span>——一个八瓣星号，它的HTML代码是&amp;#10035;</p>

<h1 id="help">帮助</h1>

<p>如果你想参与这个项目，可以查询我们的<a href="https://github.com/Fabricatorz/sharism.org">代码</a>或者<a href="https://github.com/Fabricatorz/sharism.org/issues">提出问题</a>，也可以<a href="mailto:mailto:info@sharism.org">给我们发电子邮件</a>。</p>
