<h1 class='star'>✳</h1>

<p>Sharism ist die Philosophie des Teilens. Du kannst <a href="http://en.wikipedia.org/wiki/Sharism">&uuml;ber die Idee</a> auf Wikipedia lesen, oder <a href="http://freesouls.cc/essays/07-isaac-mao-sharism.html">das Essay lesen</a>, mit dem Alles angefangen hat. Wir haben auch einige <a href="/presents">Events</a>und <a href="/workshop">Workshops</a> organisiert, und ein <a href="/forum">Forum</a>.</p>

<h1 id='agree'>Stimmst du zu?</h1>

<p>Wann immer jemand ein Werk mit einem <span class="star">✳</span> kennzeichnet, bedeutet das, die Person ist bereit es mit dir zu teilen.</p>

<p>Das Werk kann weltweit zu welchem Zweck auch immer (nicht Urheberrechtlich geschützt) genutzt werden. Du kannst es also frei kopieren, verwenden und weiterverteilen - ganz wie du m&ouml;chtest. Den Namen des Sch&ouml;pfers zu nennen ist dabei optional.</p>

<p>Falls du mehr wissen m&ouml;chtest, lies bitte die <a href="/agreement">Vereinbarung des Teilens</a>. Sie ist lang, aber cool.</p>

<h1 id='share'>Teilen</h1>

<p>Um mit der Vereinbarum des Teilens dein eigenes Werk zu teilen, schreibe einfach "<strong>✳ Dein Name</strong>" dazu. Du kannst den <span class="star">✳</span> mit der Vereinbarung und deinen Namen mit deinem geteilten Werk verlinken .</p>

<p>Falls du Hilfe bei der Formatierung für das Web brauchst, schreibe einfach deinen Namen und die URL zu deinem Werk in das Formular unten und kopiere den HTML-Code auf deine eigenen Webseite.</p>

<form>
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="Dein Name..."/>
  <label for="url">URL</label>
  <input type="text" name="url" placeholder="Die URL zu deinem Werk..."/>

  <!--<button type="submit" class="btn">Submit</button>-->
  
  <label for="code">Schnapp dir den Code</label>
  <textarea id="code" name="code" disabled="disabled"> </textarea>
  
  <label for="result">&Uuml;berpr&uuml;fe den Link</label>
  <span id="result">&nbsp;</span>
</form>

<h3>Details</h3>

<p>Sharism wird angezeigt durch den <span class="star">✳</span>, ein Sternchen mit acht Strahlen, oder dem HTML-Code &amp;#10035;</p>

<h1 id="help">Hilfe</h1>

<p>Falls du zu diesem Projekt beitragen willst, kannst du <a href="https://github.com/Fabricatorz/sharism.org">den Code auschecken</a> oder <a href="https://github.com/Fabricatorz/sharism.org/issues">ein Thema er&ouml;ffnen</a>. Du kannst uns auch einfach <a href="mailto:mailto:info@sharism.org">mailen</a>.</p>
