<h1 class='star'>✳</h1>

<p>Sharism — это философия совместного использования ресурсов. <a href="http://en.wikipedia.org/wiki/Sharism">Прочитайте об идее</a> на Википедии (англ.), или <a href="http://freesouls.cc/essays/07-isaac-mao-sharism.html">ознакомьтесь со статьёй</a> с которой всё началось. Также мы провели несколько <a href="/presents">мероприятий</a>, <a href="/workshop">мастер-классов</a>, и <a href="/forum">форумов</a>.</p>

<h1 id='agree'>Согласны?</h1>

<p>Когда кто-либо использует знак <span class="star">✳</span>, это значит, что этот человек желает поделиться результатами своей работы с вами.</p>

<p>Это произведение может использоваться по всему миру, с любой целью, без каких-либо ограничений (не является предметом авторского права), таким образом, вы можете копировать, использовать и делиться этой работой так, как пожелаете. Упоминание автора оригинального произведения желательно, но не обязательно.</p>

<p>Если вы желаете получить более подробную информацию, прочтите <a href="/agreement">«Соглашение о совместном использовании ресурсов»</a>(англ.). Учтите, что как и все юридические документы, это довольно длинный текст.</p>

<h1 id='share'>Делитесь</h1>

<p>Для того, чтобы предоставить свою работу в свободное пользование, в соответствии с «Соглашением», просто укажите на своём произведении, или в его описании своё авторство таким образом: «<strong>✳ Ваше имя</strong>». Вы можете использовать значок <span class="star">✳</span>, как ссылку на «Соглашение», и своё имя, как ссылку на произведение, которым вы делитесь с другими.</p>

<p>Если вам требуется помощь в создании таких ссылок для использования в интернете, просто введите своё имя и ссылку на своё произведение в форму ниже, а затем скопируйте получившийся HTML-код.</p>

<form>
  <label for="name">Имя</label>
  <input type="text" name="name" placeholder="Ваше имя..."/>
  <label for="url">URL</label>
  <input type="text" name="url" placeholder="Ссылка на вашу работу..."/>

  <!--<button type="submit" class="btn">Submit</button>-->
  
  <label for="code">Получить код</label>
  <textarea id="code" name="code" disabled="disabled"> </textarea>
  
  <label for="result">Проверьте ссылки</label>
  <span id="result">&nbsp;</span>
</form>

<h3>Технические подробности</h3>

<p>Идеология Sharism может быть представлена восьмилучевой звёздочкой <span class="star">✳</span>, или, в виде HTML-сущности &amp;#10035;</p>

<h1 id="help">Помощь</h1>

<p>Если вы хотите внести свой вклад в проект, вы можете <a href="https://github.com/Fabricatorz/sharism.org">ознакомится с кодом</a>, или <a href="https://github.com/Fabricatorz/sharism.org/issues">сообщить об ошибке</a>. Кроме того, можно просто <a href="mailto:mailto:info@sharism.org">написать нам письмо</a>.</p>
