<h1 class='star'>✳</h1>

<p>Sharism is the philosophy of Sharing. You can <a href="http://en.wikipedia.org/wiki/Sharism">read about the idea</a> on Wikipedia, or <a href="http://freesouls.cc/essays/07-isaac-mao-sharism.html">read the essay</a> that started it all. We have also organized some <a href="/presents">events</a>, <a href="/workshop">workshops</a>, and a <a href="/forum">forum</a>.</p>

<h1 id='agree'>Agree?</h1>

<p>Whenever someone marks a work with <span class="star">✳</span>, it means that person is willing to share it with you.</p>

<p>The work can be used worldwide for any purpose whatsoever (no copyright), so you're free to copy, use, and redistribute the work any way you like. Giving credit is optional.</p>

<p>If you need more clarity, please read the <a href="/agreement">Sharing Agreement</a>. It's lengthy, but legit.</p>

<h1 id='share'>Share</h1>

<p>To share your own work with the Sharing Agreement, simply write "<strong>✳ Your Name</strong>" like so. You can link the <span class="star">✳</span> to the Agreement, and link your name to the work you are sharing.</p>

<p>If you need help formatting this for the web, simply type your name and the URL to your work into the form below, then copy the HTML onto your own website.</p>

<form>
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="Your name..."/>
  <label for="url">URL</label>
  <input type="text" name="url" placeholder="The URL to your work..."/>

  <!--<button type="submit" class="btn">Submit</button>-->
  
  <label for="code">Grab the Code</label>
  <textarea id="code" name="code" disabled="disabled"> </textarea>
  
  <label for="result">Check the Link</label>
  <span id="result">&nbsp;</span>
</form>

<h3>Details</h3>

<p>Sharism is represented by <span class="star">✳</span>, an eight spoked asterisk, or the HTML code &amp;#10035;</p>

<h1 id="help">Help</h1>

<p>If you would like to contribute to this project you can <a href="https://github.com/Fabricatorz/sharism.org">check out our code</a> or <a href="https://github.com/Fabricatorz/sharism.org/issues">file an issue</a>. You can also just <a href="mailto:mailto:info@sharism.org">email us</a>.</p>
